body {
    color: RGB(255, 255, 255);
    background: RGB(10, 10, 10);
}
div {
    background: RGB(20, 20, 20);
    margin: 0 0 0 50px;
    padding: 20px 200px 0 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul > li {
    font-size: 24px;
}

ul > li > ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

ul > li > ul > li {
    font-size: 16px;
    margin-right: 20px;
    display: inline;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
